<div class="row">
  <div>{{stores}}</div>
  <div>{{store}}</div>
  <div>{{database}}</div>
  <div>{{state}}</div>
</div>

<div class="row">
  {{loader}}
  {{loader.autoload}}
  {{#if autoload}}
    loader.autoload.isLoading={{loader.autoload.isLoading}}
  {{else}}
    loader.isLoading={{loader.isLoading}} <span {{action 'enableAutoload'}}>[autoload]</span>
  {{/if}}
</div>

<div class="row">
  <button onclick={{action 'setup'}}>Setup database</button>
</div>

{{#if setup}}
  <div class="row">{{ui-block/json setup}}</div>
{{/if}}
