{{#if author.isError}}
  <div class="row">
    {{author.error.message}}
  </div>
{{/if}}

<div class="row">
  <div>Name</div>
  <div>{{input value=author.name}}</div>
</div>

<div class="row">
  <div>Email</div>
  <div>{{input value=author.email}}</div>
</div>

<div class="row">
  <button onclick={{action 'save'}}>{{if author.isNew 'Save' 'Update'}}</button>
</div>

<div class="row">
  {{ui-block/json author.serialized}}
</div>

<div class="row">
  {{ui-block/json author.state}}
</div>
